<h1 align=center>文本数据的清洗5：获取元数据信息</h1>
----
* 作者: 吴立宗
* 日期：2016-7-2
* 目标：
 * 基本信息
 * 字段信息
 * 统计数据中的缺失数据情况

## 1.获取基本元数据信息

指在不打开文件的前提先获得的数据信息，包括：
* 文件名
* 文件所在目录
* 文件大小
* 文件格式
* 文件md5编码

In [18]:
#encoding=utf8
import os
import hashlib

filename='data/weather_jiulong_all.csv'

In [20]:
basename = os.path.basename(filename)
fullname = os.path.abspath(filename)
filepath = os.path.split(fullname)[0]
filesize = os.path.getsize(filename)/1024.0
file_format=os.path.splitext(filename)[1].replace('.','')
file_md5=hashlib.md5(open(filename, 'rb').read()).hexdigest()
basename,fullname,filepath,filesize,file_format,file_md5

('weather_jiulong_all.csv',
 'c:\\westcode\\Jupyter\\GeoData\\Day_2\\data\\weather_jiulong_all.csv',
 'c:\\westcode\\Jupyter\\GeoData\\Day_2\\data',
 34.8544921875,
 'csv',
 '5b6a53cdb5475567bafe5349efe82fbf')

## 2 数据结构信息
用于数据读取，也可以数据在不同系统之间的转换，包括如下信息：
* 文件编码------需要用户指定，很多情况下系统无法自动判断
* 字段数量
* 字段名称
* 字段类型
* 字段分割符----需要用户指定，很多情况下系统无法自动判断
* 记录长度

In [23]:
import pandas as pd

In [137]:
encoding='utf8'
sep=','
df=pd.read_csv(filename,sep=',',encoding=encoding)

In [28]:
col_name=list(df.columns)
col_count=len(list(df.columns))

In [77]:
df.head()

,Date,Air_press,Temp,Temp_max,Temp_min,Humidity,Humi_min,Pre,Pre_max,Sunshine,Evaporation,G_Temp,G_Temp_max,G_Temp_min,WindSpeed,Cloud_total,Cloud_low
0,1952-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1952-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1952-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1952-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df.dtypes

Date            object
Air_press      float64
Temp           float64
Temp_max       float64
Temp_min       float64
Humidity       float64
Humi_min       float64
Pre            float64
Pre_max        float64
Sunshine       float64
Evaporation    float64
G_Temp         float64
G_Temp_max      object
G_Temp_min     float64
WindSpeed      float64
Cloud_total    float64
Cloud_low      float64
dtype: object

In [135]:
for col in df.columns:
    ds=df[col]
    if ds.dtypes == object:
        max_length=ds.str.len().max()
        print(col+":str"+str(max_length))
        print('  valid_count:',ds.count())
        print('  min_length:',ds.str.len().min())
        print('  max_length:',ds.str.len().max())
        print('  value_counts:',len(ds.value_counts()))
        print('  numeric_counts:',len(list(ds[ds.str.isdigit()==True])))
        print('  None_counts:',ds.isnull().values.sum())
    if ds.dtypes=='float64':
        max_length=ds.astype(str).str.len().max()
        max_int=ds.fillna(0.0).astype(np.int).astype(str).str.len().max()
        #print('  length:',max_length)
        #print('  precision:',max_length-max_int-1)
        print(col+':float'+str(max_length)+'.'+str(max_length-max_int-1))
        print('  valid_counts:',ds.count())
        print('  min:',ds.min())
        print('  max:',ds.max())
        print('  mean:',ds.mean())
        print('  std:',ds.std())
        print('  None_counts:',ds.isnull().sum())
        print('  first_valid_count_index:',ds.first_valid_index())
        print('  last_valid_count_index:',ds.last_valid_index())

Date:str10
  valid_count: 504
  min_length: 10
  max_length: 10
  value_counts: 504
  numeric_counts: 0
  None_counts: 0
Air_press:float5.1
  valid_counts: 264
  min: 707.3
  max: 719.4
  mean: 713.637878787879
  std: 2.342418570818877
  None_counts: 240
  first_valid_count_index: 38
  last_valid_count_index: 347
Temp:float4.1
  valid_counts: 498
  min: -1.1
  max: 16.6
  mean: 8.802409638554217
  std: 5.203136553738384
  None_counts: 6
  first_valid_count_index: 6
  last_valid_count_index: 503
Temp_max:float4.1
  valid_counts: 342
  min: 12.3
  max: 31.0
  mean: 22.79269005847954
  std: 4.054334679390794
  None_counts: 162
  first_valid_count_index: 6
  last_valid_count_index: 347
Temp_min:float5.1
  valid_counts: 342
  min: -14.9
  max: 10.4
  mean: -2.656432748538011
  std: 6.649397663712505
  None_counts: 162
  first_valid_count_index: 6
  last_valid_count_index: 347
Humidity:float4.1
  valid_counts: 300
  min: 33.0
  max: 83.0
  mean: 61.28666666666667
  std: 14.702097166476978
  None_counts: 204
  first_valid_count_index: 6
  last_valid_count_index: 347
Humi_min:float4.1
  valid_counts: 300
  min: 0.0
  max: 39.0
  mean: 10.593333333333334
  std: 10.847743267713794
  None_counts: 204
  first_valid_count_index: 6
  last_valid_count_index: 347
Pre:float5.1
  valid_counts: 498
  min: 0.0
  max: 347.2
  mean: 75.9893574297188
  std: 80.20331926871273
  None_counts: 6
  first_valid_count_index: 6
  last_valid_count_index: 503
Pre_max:float4.1
  valid_counts: 337
  min: 0.0
  max: 53.0
  mean: 15.107418397626104
  std: 12.663214377677475
  None_counts: 167
  first_valid_count_index: 6
  last_valid_count_index: 347
Sunshine:float5.1
  valid_counts: 444
  min: 71.5
  max: 235.1
  mean: 164.32815315315304
  std: 30.212742968240725
  None_counts: 60
  first_valid_count_index: 24
  last_valid_count_index: 467
Evaporation:float5.1
  valid_counts: 342
  min: 77.0
  max: 307.0
  mean: 150.36754385964906
  std: 42.59500713298873
  None_counts: 162
  first_valid_count_index: 6
  last_valid_count_index: 347
G_Temp:float4.1
  valid_counts: 286
  min: 2.3
  max: 21.3
  mean: 12.729720279720285
  std: 5.591440004595487
  None_counts: 218
  first_valid_count_index: 60
  last_valid_count_index: 347
G_Temp_max:str5.0
  valid_count: 273
  min_length: 2.0
  max_length: 5.0
  value_counts: 180
  numeric_counts: 19
  None_counts: 231
G_Temp_min:float5.1
  valid_counts: 318
  min: -18.1
  max: 10.5
  mean: -3.172955974842768
  std: 7.267456395805389
  None_counts: 186
  first_valid_count_index: 24
  last_valid_count_index: 347
WindSpeed:float3.1
  valid_counts: 223
  min: 1.1
  max: 3.4
  mean: 2.092825112107622
  std: 0.40961704912528835
  None_counts: 281
  first_valid_count_index: 6
  last_valid_count_index: 228
Cloud_total:float3.1
  valid_counts: 462
  min: 0.8
  max: 9.8
  mean: 6.226406926406926
  std: 2.4555651237549787
  None_counts: 42
  first_valid_count_index: 6
  last_valid_count_index: 467
Cloud_low:float3.1
  valid_counts: 324
  min: 0.4
  max: 9.4
  mean: 5.325000000000001
  std: 2.3704106710074537
  None_counts: 180
  first_valid_count_index: 24
  last_valid_count_index: 347

## 3.数据内容信息
* 变量单位-------需用户填写
* 变量意义-------需用户填写
* 空间范围-------用户填写，或者用户指出对应的空间字段(long,lat)
* 时间范围-------用户填写，或用户支持对应的时间字段及时间格式
* 分类与分类意义---用户填写,包括如下类型
 * 分类-----------如土地利用分类
 * 特征值---------如降水数据中的，雪、冰雹等

## 4.应用：统计数据缺失信息

In [136]:
import numpy as np
import pandas as pd
encoding='utf8'
df=pd.read_csv(filename,encoding=encoding)
##miss_data=df['Date']
df_new=df.set_index('Date')
col_name=['要素','时间范围','缺失数据条数']
var_list=[]
date_range=[]
invalid_count=[]
for col in df_new.columns:
    valid_first=df_new[col].first_valid_index()
    valid_last=df_new[col].last_valid_index()
    valid_count=df_new[col].notnull().value_counts()[True]
    td=pd.to_datetime(valid_last)- pd.to_datetime(valid_first)
    count=str((td / np.timedelta64(1, 'D')).astype(int)-valid_count)
    invalid_count.append(count)
    var_list.append(col)
    date_range.append(valid_first+'--'+valid_last)
miss_data=pd.DataFrame(var_list,columns=['var'])
miss_data['date_range']=date_range
miss_data['miss_count']=invalid_count
miss_data

            var              date_range miss_count
0     Air_press  1955-03-01--1980-12-01       9143
1          Temp  1952-07-01--1993-12-01      14630
2      Temp_max  1952-07-01--1980-12-01      10038
3      Temp_min  1952-07-01--1980-12-01      10038
4      Humidity  1952-07-01--1980-12-01      10080
5      Humi_min  1952-07-01--1980-12-01      10080
6           Pre  1952-07-01--1993-12-01      14630
7       Pre_max  1952-07-01--1980-12-01      10043
8      Sunshine  1954-01-01--1990-12-01      13039
9   Evaporation  1952-07-01--1980-12-01      10038
10       G_Temp  1957-01-01--1980-12-01       8449
11   G_Temp_max  1958-02-01--1980-12-01       8066
12   G_Temp_min  1954-01-01--1980-12-01       9513
13    WindSpeed  1952-07-01--1971-01-01       6535
14  Cloud_total  1952-07-01--1990-12-01      13570
15    Cloud_low  1954-01-01--1980-12-01       9507

In [2]:
import platform
platform.system()

In [3]:
platform.system()

'Windows'

In [4]:
import collections

In [5]:
dd=collections.defaultdict(dict)

In [6]:
dd['title']['id']=1

In [9]:
dd['title1']['id']=2

In [15]:
dd['title']['b']=3

In [18]:
c=collections.defaultdict(dict)
c['tt']['bb']=4
c['tt1']['bb']=5

In [19]:
dd['title']=c

In [20]:
dd

defaultdict(dict,
            {'title': defaultdict(dict, {'tt': {'bb': 4}, 'tt1': {'bb': 5}}),
             'title1': {'id': 2}})

In [11]:
a={'basename':'aa', 'fullname':'rel_path', 'filepath':'filepath', "filesize":3.0,
              'file_format':'csv', 'md5':'sssss'}

In [12]:
b=a

In [13]:
b

{'basename': 'aa',
 'file_format': 'csv',
 'filepath': 'filepath',
 'filesize': 3.0,
 'fullname': 'rel_path',
 'md5': 'sssss'}